<!DOCTYPE html>
<html>
<head>
  <title>Travel & Expense Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav>
        <img src="/image/logo.png" alt="Logo" class="logo" style="height:40px;vertical-align:left;margin-right:500px;">
      <a href="/dashboard">Dashboard</a>
      <a href="/expenses">Expenses</a>
      <a href="/logout">Logout</a>
    </nav>