<%- include('partials/header') %>


<div class="dashboard-hero">
  <div class="dashboard-content">
    <div class="dashboard-title">Business Travel and Expense Management, Simplified.</div>
    <div class="dashboard-desc">
      Get complete control over managing travel expenses and gain visibility into your employee corporate travel and expense management.
    </div>
    <a href="/expenses" class="dashboard-btn">View Expenses</a>
  </div>
  <div class="dashboard-image">
    <img src="https://clooper.com/blog/wp-content/uploads/2024/03/travel-expense-management-software.png" alt="Travel Dashboard" />
  </div>
</div>
<%- include('partials/footer') %>