<%- include('partials/header') %>

<h2 style="text-align:center;">Login</h2>

<form method="POST" action="/login" class="login-form">
  <div class="form-group">
    <label for="username">Username</label><br>
    <input id="username" name="username" placeholder="Username" required autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label><br>
    <input id="password" name="password" type="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn-primary">Login</button>
</form>

<!-- Social login buttons are disabled until implemented with Passport.js or similar -->
<div class="social-login">
  <button type="button" class="btn-google" disabled title="Coming soon">
    <img src="/image/google-icon.png" alt="Google" class="icon"/> Login with Google
  </button>
  <button type="button" class="btn-facebook" disabled title="Coming soon">
    <img src="/image/facebook-icon.png" alt="Facebook" class="icon"/> Login with Facebook
  </button>
</div>

<% if (typeof error !== 'undefined' && error) { %>
  <p class="error-message"><%= error %></p>
<% } %>

<p class="register-link">
  Don't have an account?
  <a href="/register">Register here</a>
</p>

<%- include('partials/footer') %>